<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.912520576407-l47lqmkorem824tfju7e6r4p72sh78eg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1150855382153097</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>FALSE</string>
	<key>FacebookAppID</key>
	<string>1150855382153097</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>FALSE</string>
	<key>FacebookClientToken</key>
	<string>3735ba96ad0c7d0b96e774500ed2653e</string>
	<key>FacebookDisplayName</key>
	<string>Second Hand login</string>
</dict>
</plist>
